[Unit]
Description=Limit Usage Xray - Shadowsocks
Documentation=FighterTunnel
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
User=root
Group=root

ExecStart=/etc/xray/limit.shadowsocks

# Restart otomatis jika gagal
Restart=always
RestartSec=5

# Keamanan
NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
PrivateTmp=true
PrivateDevices=true

# Hanya izinkan baca direktori yang dibutuhkan
ReadWritePaths=/etc/xray/
ReadWritePaths=/var/log/

[Install]
WantedBy=multi-user.target

