[Unit]
Description=Limit Usage Xray - VMess
Documentation=FighterTunnel
Wants=network-online.target
After=network.target network-online.target syslog.target

[Service]
Type=simple
User=root
Group=root

ExecStart=/etc/xray/limit.vmess

# Restart otomatis jika gagal
Restart=always
RestartSec=5

# Pengamanan sistem
NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
PrivateTmp=true
PrivateDevices=true

# Izinkan akses folder yang dibutuhkan
ReadWritePaths=/etc/xray/
ReadWritePaths=/var/log/

[Install]
WantedBy=multi-user.target
